.slogan {
  font-size: 1rem;
  text-align: center;
  font-family: cursive;
  color: #86AB89;
  font-weight: bold;
}

.main-desc {
  text-align: center;
  color: #9c8681;
  padding-bottom: 1.5rem;
}

.top-content {
  padding: 1.5rem;
}

.item-name {
  font-size: 1.2rem;
  color: #735E59;
}

.item-desc {
  font-weight: lighter;
  font-size: 1rem;
  color: #735E59;
}

.logo {
  max-width: 100%;
  padding: 0.8rem;
}

.menu-item {
  margin: 1.5rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

.item-button {
  border-radius: 20px;
  padding: 0.1rem 0.5rem;
  border: 1px solid #735E59;
  background-color: #EBDED4;
  font-size: 0.8rem;
}

.count {
  justify-content: center;
  padding-left: 2rem;
}

.menu-img {
  max-width: 100%;
  border-radius: 1rem;
  padding: 0 0.2rem;
}

.menu-bottom {
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.order-button {
  border-radius: 20px;
  border: 1px solid #735E59;
  background-color: #EBDED4;
}

.clear-button {
  border-radius: 20px;
  border: 1px solid #735E59;
  background-color: #c4c4c4;
}